fastapi[all]
uvicorn[standard]
pydantic[dotenv]
orjson==3.8.7
SQLAlchemy==2.0.4
asyncpg==0.27.0
psycopg2-binary==2.9.5
alembic==1.10.2
fastapi-users[sqlalchemy]==10.4.0
python-dotenv==1.0.0
sqlalchemy_utils==0.40.0

pytest==7.2.2
flake8==6.0.0
pytest-asyncio==0.21.0
pytest-mock==3.10.0
pytest-env==0.8.1
httpx==0.23.3

boto3==1.26.99